@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <style>
            .row{
                padding:0px !important;
                margin:0px !important;
            }
            .col-md-6{
                margin:0px !important;
                padding:0px !important;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <img src="~/img/logo2.png" style="margin-left:-50px;"/>
                        <h2>@ViewData["Title"]</h2>
                        <section>
                            <form id="account" method="post">
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </div>
                                <div class="form-group">
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                    <!--<p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>-->
                                </div>
                            </form>
                        </section>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/img/farm.png" style="width:100%;height:auto;margin-top:-100px;" />

            </div>
        </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }

    </body>